name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup
        run: |
          sudo apt update
          sudo apt install -y build-essential gcc-multilib nasm
      - uses: actions/checkout@v4
      - uses: leanprover/lean-action@v1
